In [20]:
import pandas as pd

In [21]:
query_data = pd.read_csv('/workspace/datasets/labeled_query_data.txt', sep='[|][#][|]', engine='python',\
                   names = ['label'], header = None)

In [22]:
query_data = query_data.label.str.split(' ', n =1,expand=True).rename(columns = {0: 'label', 1: 'query'})

In [23]:
query_data.head()

                         label                                query
0        __label__abcat0101001  televisiones panasonic  50 pulgadas
1        __label__abcat0101001                                sharp
2  __label__pcmcat193100050014                                 nook
3        __label__abcat0101001                                  rca
4        __label__abcat0101005                                  rca

In [24]:
query_data.label.nunique()

879